{% extends 'portfolio/layout.html' %}

{% block style %}
{% load static %}
<link rel="stylesheet" href="{% static 'portfolio/css/blog.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock style %}
{% block main %}
<div class="blog_container">
    {% for blog in blogs %}
    <div class="blogs">
        <h2>{{blog.titulo}}</h2>
        <br>
        <p>{{blog.descricao}}</p>
        <br>
        <p>{{blog.nomeAutor}}</p>
        <p>{{blog.data.day}}/{{blog.data.month}}/{{blog.data.year}}</p>
        <button class="blog_botao"><a href="{% url 'portfolio:editarBlog' blog.id %}" class="b">Editar</a></button>
    </div>

    {% endfor %}

</div>
<div class="damn">

    <a href="{% url 'portfolio:nova'%}" class="btn btn-sucess">
        <button>Post Blog</button>
    </a>

</div>
{% endblock %}