{% extends 'portfolio/layout.html' %}
{% block style %}
{% load static %}
<link rel="stylesheet" href="{% static 'portfolio/css/novaLicenciatura.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock style %}
{% block main %}
<form method="POST" action="">
    {% csrf_token %}
    <div class="container">
        {{form.as_p}}
    </div>
    <div class="nova_licenciatura_botao">
        <div class="novaLicenciatura_but">
            <button class="nova_licenciatura_botao" type="submit">Gravar</button>
        </div>

        <div class="novaLicenciatura_but">
            <button><a href="{% url 'portfolio:licenciatura'  %}">Cancelar</a></button>
        </div>
    </div>
</form>
{% endblock %}