article.primeiro {
    /* definindo altura e cor */
    background: transparent;
    padding: 0 4vw;
    text-align: center;
    font-size: 1.5rem;
    height: 30vh;
}


article.segundo {
    /* como tem menu e rodapé visíveis (10vh cada), define-se como altura 80vh. */
    height: 80vh;
    background-image: url("../images/ceu.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    align-items: start;
}

main {
    background-image: url("../images/viagem.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

.clock {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
}

.Temperatura {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 25px 100px;
    background-color: transparent;
}

h1 {
   text-align: center;
}
h2{
    text-align: center;
}

.contss {
    float: left;
    width: auto;
    height: 20vh;
    padding: 25px;
    margin: 10px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px grey;
}

